<div class="col-md-12">
  <h2 class="text-center">我发表过的文章</h2>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Content</th>
        <th>Group Name</th>
        <th>Last Update</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%= render :partial => "post_item", :collection => @posts, :as => :post %>
    </tbody>

  </table>
</div>
